<h1>Edit Task</h1>

<%= form_with model: @task, method: "patch" do |form| %>

<div>
   <div> <%= form.label :title %></div>
   <div><%= form.text_field :title %></div>
</div>

<div>
   <div> <%= form.label :content %></div>
   <div><%= form.text_area :content %></div>
</div>

<div>
    <%= form.submit "Update" %>
</div>

<div>
    <%= link_to "Back", tasks_path %>
</div>

<% end %>