
<%= form_with model: @task do |form| %>

<div>
   <div> <%= form.label :title %></div>
   <div><%= form.text_field :title %></div>
</div>

<div>
   <div> <%= form.label :content %></div>
   <div><%= form.text_area :content %></div>
</div>

<div>
    <%= form.submit "作成", class: "button button--color_main" %>
</div>

<div>
    <%= link_to "戻る", tasks_path, class: "button button--color_main" %>
</div>

<% end %>