<h1>New Task</h1>

<%= form_with model: @task do |form| %>

<div>
   <div> <%= form.label :title %></div>
   <div><%= form.text_field :title %></div>
</div>

<div>
   <div> <%= form.label :content %></div>
   <div><%= form.text_area :content %></div>
</div>

<div>
    <%= form.submit "Create" %>
</div>

<div>
    <%= link_to "Back", tasks_path %>
</div>

<% end %>